<div class="container">
    <app-title *ngIf="language=='en'" title="Production Daily Progress"></app-title>
    <app-title *ngIf="language=='cn'" title="生产日进度"></app-title>
    <app-search-box (outputValue)="updateList('search')"></app-search-box>
    <app-filter info="event" (event)="updateList($event)"></app-filter>
    <div class="container_box">
        <div class="box" (DownUpdateDirective)="updateList('search')">
            <ul class="items">
                <li class="list" *ngFor="let item of datas">
                    <div class="list_title">
                        <div class="i">
                            <p></p>
                        </div>
                        <div class="jo_container">
                            <span *ngIf="language=='en'">JO:{{item.code}}</span>
                            <span *ngIf="language=='cn'">生产单号:{{item.code}}</span>
                        </div>
                        <div class="entry_container">
                            <button *ngIf="language=='en'" (click)="link(item)" class="entry">Entry</button>
                            <button *ngIf="language=='cn'" (click)="link(item)" class="entry">录入</button>
                        </div>
                    </div>
                    <ul class="items">
                        <li class="row">
                            <div class="other">
                                <p>{{item.LineName}}</p>
                                <span *ngIf="language=='en'">Line</span>
                                <span *ngIf="language=='cn'">生产线</span>
                            </div>
                            <div class="other">
                                <p>{{item.StarDate}}</p>
                                <span *ngIf="language=='en'">Production Start Time</span>
                                <span *ngIf="language=='cn'">开始日期</span>
                            </div>
                            <div class="other">
                                <p>{{item.EndDate}}</p>
                                <span *ngIf="language=='en'">Completion Time</span>
                                <span *ngIf="language=='cn'">结束日期</span>
                            </div>
                        </li>
                        <li class="row">
                            <div class="other">
                                <p>{{item.amount}}</p>
                                <span *ngIf="language=='en'">Schd.Qty</span>
                                <span *ngIf="language=='cn'">排单数</span>
                            </div>
                            <div class="other">
                                <p>{{item.CompleteAmount}}</p>
                                <span *ngIf="language=='en'">Completed Qty</span>
                                <span *ngIf="language=='cn'">完成数量</span>
                            </div>
                            <div class="other">
                                <p>{{item.pattern}}</p>
                                <span *ngIf="language=='en'">Fty Style</span>
                                <span *ngIf="language=='cn'">本厂款号</span>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <app-load-more *ngIf="datas.length>0 && datas.length>3 || datas.length==0" [type]="type" (click)="updateList('add')"></app-load-more>
</div>