<header>
    <h1 *ngIf="Language=='en'">Workbench</h1>
    <h1 *ngIf="Language=='cn'">工作台</h1>
</header>
<div class="hidden_header"></div>
<!--list-->
<div class="container">
    <div *ngFor="let items of list;let i=index;">
        <div>
            <div class="list_title">
                <h2 *ngIf="Language=='cn'">{{items.title2}}</h2>
                <h2 *ngIf="Language=='en'">{{items.title2}}</h2>
            </div>
            <ul class="list_1">
                <li *ngFor="let item of items.TipsCountList;let b=index;">
                    <a [routerLink]="[item.Link,item.Id]" routerLinkActive="active">
                        <div>
                            <div class="icon">
                                <img [src]="item.Url">
                                <i *ngIf="item.Amount>0">{{item.Amount}}</i>
                            </div>
                        </div>
                        <span *ngIf="Language=='en'">{{item.Text}}</span>
                        <span *ngIf="Language=='cn'">{{item.Name}}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--list-->