<div class="container">
    <app-title *ngIf="language=='en'" title="Macro Capacity"></app-title>
    <app-title *ngIf="language=='cn'" title="宏观产能"></app-title>
    <section class="searchBox">
        <button *ngIf="language=='en'"> Enable date:</button>
        <button *ngIf="language=='cn'"> 启用日期</button>
        <p (click)="state=true">{{date}}</p>
        <input (click)="output()" type="button" class="searchBut">
        <input (click)="showFilter()" type="button" class="detail" [value]="filter">
    </section>
    <app-capacity-filter (envet)="UpdateList($event)"></app-capacity-filter>
    <app-date *ngIf="state" number="1" (submit)="backDate($event)"></app-date>
    <section class="content">
        <div class="contentItem" *ngFor="let item of datas;">
            <h3>{{item.factoryName}}</h3>
            <div class="figure">
                <div *ngFor="let obj of item.list; let key=index;">
                    <h4>{{obj.month}}</h4>
                    <app-capacity-figure [dataA]="obj.typeA"  [dataB]="obj.typeB"></app-capacity-figure>
                </div>
            </div>
        </div>
        
    </section>
</div>