.searchBox {
    background: #f3f4f6;
    padding: 1rem 0 1rem 0;
    display: flex;
    flex-flow: wrap;
    position: fixed;
    top: 46px;
    z-index: 2;
}

.searchBox1 {
    padding: 1rem 0 1rem 0;
    display: flex;
    flex-flow: wrap;
    background: #fff;
}

.searchBox1 .search,
.searchBox1 .detail,
.searchBox1 .searchBut,
.searchBox .search,
.searchBox .detail,
.searchBox .searchBut {
    background: #fff;
    border: 0;
    border-radius: 3px 0 0 3px;
    height: 1.5rem;
    padding: 1rem;
    float: left;
    width: 55%;
    box-shadow: 0 0 5px #e3e8ea;
    font-size: 1.3rem;
    color: #333;
}

header,
html,
body,
main,
h1,
h2,
h3,
h4,
h5,
ul,
li,
div,
i,
section,
p,
em,
span,
input,
button,
filter,
strong,
a,
table,
tr,
td,
th,
textarea {
    z-index: 0;
}

.searchBox1 .detail,
.searchBox .detail {
    flex: 0 0 22%;
    width: 23%;
    height: 3.5rem;
    background: #fff url(/assets/images/i_detail.png) no-repeat 1rem center;
    color: #808080;
    background-size: 1.5rem;
    text-align: right;
    padding: 0.5rem;
    border-radius: 3px;
}

.colorBox {
    margin-top: 1rem;
    display: flex;
    flex: 0 0 100%;
    flex-flow: wrap;
    background: #fff;
    padding: 1rem;
    box-sizing: border-box;
}

.searchBox .searchBut {
    background: #fff url(/assets/images/i_search.png) no-repeat center;
    height: 3.5rem;
    width: 4rem;
    background-size: 2rem;
    border-radius: 0 3px 3px 0;
}

.searchBox button {
    flex: 0 0 35%;
    -webkit-appearance: textfield;
    background: white;
    -webkit-rtl-ordering: logical;
    color: #808080;
    padding-left: 1rem;
}

.searchBox p {
    flex: 0 0 40%;
    background: white;
    color: #088c77;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

input,
textarea,
select,
button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 13.3333px Arial;
}

.content .contentItem {
    background-color: #fff;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.content .contentItem h3 {
    height: 3rem;
    line-height: 4rem;
    padding: 0 1rem;
    font-size: 1.4rem;
}

.content .figure {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.barBox {
    width: 25%;
    flex: 0 0 25%;
    margin-top: 1rem;
    /* overflow: hidden; */
}

.barBox h4 {
    text-align: center;
    line-height: 2rem;
    font-size: 1.3rem;
}