.select {
    padding: 1rem 0.5rem 1rem 0.5rem;
    display: flex;
    border-radius: 4px;
    background: #fff;
    flex: 0 0 45%;
    align-items: center;
    justify-content: center;
}

.bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0px;
    left: 0px;
}

.container {
    width: 100%;
    display: flex;
    height: 120px;
    background-color: #fff;
    position: fixed;
    bottom: 0px;
    left: 0px;
    flex-flow: wrap;
}

h4 {
    height: 3rem;
    line-height: 3rem;
    flex: 0 0 100%;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
    border-top: solid 2px #f3f4f6;
    border-bottom: solid 2px #f3f4f6;
}

.cancel {
    position: absolute;
    left: 1rem;
    color: #d0486d;
    font-size: 1.5rem;
    top: 1rem;
    font-weight: bold;
}

.finish {
    position: absolute;
    right: 1rem;
    color: #4564bb;
    font-size: 1.5rem;
    top: 1rem;
    font-weight: bold;
}

.container div {
    flex: 0 0 33.33%;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    border-top: solid 2px #f3f4f6;
    flex-flow: wrap;
    align-items: center;
}

select {
    border: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url("/assets/images/sm_arrow_right.png") no-repeat scroll right center transparent;
    padding-right: 1.2rem;
    line-height: 2rem;
}


/*.year,.month{
 border-right: 1px solid #f3f4f6;
}*/

option {
    text-align: center;
}