<div class="container">
    <app-title *ngIf="language=='en'" title="Critical Event Delay"></app-title>
    <app-title *ngIf="language=='cn'" title="关键事件延误"></app-title>
    <app-search-box (outputValue)='updateList("search")'></app-search-box>
    <app-filter info="delay" (event)="updateList($event)"></app-filter>
</div>

<div class="box">
    <div class="box_row" *ngFor="let item of datas;let i=index;">
        <ul class="items">
            <li class="row left">
                <div class="other">
                    <p>{{item.PoCode}}</p>
                    <span *ngIf="language=='en'">JO</span>
                    <span *ngIf="language=='cn'">生产单号</span>
                    <p>{{item.Pattern}}</p>
                    <span *ngIf="language=='en'">Fty Style</span>
                    <span *ngIf="language=='cn'">本厂款号</span>
                    <p>{{item.CustomerName}}</p>
                    <span *ngIf="language=='en'">Customer Name</span>
                    <span *ngIf="language=='cn'">客户名称</span>
                </div>
            </li>
            <li class="row center">
                <div class="other center">
                    <div class="slightDelay">
                        <div class="delay_box">
                            <span>{{item.EventName}}</span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="row right">
                <div class="other">
                    <p>{{item.DeliveryDate}}</p>
                    <span *ngIf="language=='en'">Delivery</span>
                    <span *ngIf="language=='cn'">交货期</span>
                    <p>{{item.ExpectFinishDate}}</p>
                    <span *ngIf="language=='en'">Recommended Date</span>
                    <span *ngIf="language=='cn'">推荐日期</span>
                    <p>
                        <span class="red">{{item.DelayDays}} </span>
                        <span class="red" *ngIf="language=='en'">Days </span>
                        <span class="red" *ngIf="language=='cn'">天</span></p>
                    <span *ngIf="language=='en'">Delay</span>
                    <span *ngIf="language=='cn'">延误</span>
                </div>
            </li>
        </ul>
    </div>
</div>
<app-load-more *ngIf="datas.length>0 && datas.length>3 || datas.length==0" [type]="type" (click)="updateList('add')"></app-load-more>