<div class="container">
    <app-title *ngIf="Language=='en'" title="Weekly Running Schedule Report"></app-title>
    <app-title *ngIf="Language=='cn'" title="滚动生产排期"></app-title>
    <div class="JO">
        <h5 *ngIf="Language=='en'" class="left">JO：</h5>
        <h5 *ngIf="Language=='cn'" class="left">生产单号：</h5>
        <h5 class="right">1317423890</h5>
    </div>
    <div class="JO">
        <h5 *ngIf="Language=='cn'" class="left">本厂款号：</h5>
        <h5 *ngIf="Language=='en'" class="left">Fty Style：</h5>
        <h5 class="right">1317423890</h5>
    </div>
    <ul class="event_name">
        <li class="border_right">组别</li>
        <li class="border_right">01组</li>
        <li class="border_right">02组</li>
        <li class="border_right">03组</li>
    </ul>
</div>