<aside id="filter">
    <div id="filterBox">
        <h3 *ngIf="language=='en'">Filter<span (click)="back()">Back</span></h3>
        <h3 *ngIf="language=='cn'">筛选<span (click)="back()">返回</span></h3>
        <ul class="filter">
            <li *ngFor="let item of datas;let i=index;">
                <div class="filterTit">
                    <strong *ngIf="language=='en'">{{item.title}}</strong>
                    <strong *ngIf="language=='cn'">{{item.title2}}</strong>
                    <a *ngIf="item.arrow" (click)="item.rowstate=!item.rowstate" [ngClass]="{'rowDown':item.rowstate,'rowRight':!item.rowstate}"></a>
                    <a *ngIf="item.but" (click)="on_off(item.allstate,i,item)" [ngClass]="{'allOn_en':item.allstate && language=='en','allOff_en':!item.allstate && language=='en','allOn_cn':item.allstate && language=='cn','allOff_cn':!item.allstate && language=='cn'}"></a>
                </div>
                <ul class="list" *ngIf="item.rowstate">
                    <li (click)="change(arr,b,item,i)" *ngFor="let arr of item.list;let b=index;" [ngClass]="{'on':arr.state}">
                        <span *ngIf="language=='en'">  {{arr.text}}</span>
                        <span *ngIf="language=='cn'">  {{arr.text2}}</span>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="date_container" *ngIf="dateshow">
            <div class="date_item">
                <p (click)="state=true">{{StartDate}}</p>
                <p class="bar"></p>
                <p (click)="state=true">{{EndDate}}</p>
            </div>
        </div>
        <button *ngIf="language=='en'" class="sbmit" (click)="complete()">Complete</button>
        <button *ngIf="language=='cn'" class="sbmit" (click)="complete()">完成</button>
    </div>
    <div id="shadow"></div>
    <app-date *ngIf="state" number="2" (submit)="backDate($event)"></app-date>
</aside>