<app-title *ngIf="Language=='en'" [link]="Link" title="All Applications"></app-title>
<app-title *ngIf="Language=='cn'" [link]="Link" title="全部应用"></app-title>
<div class="container">
    <!--list-->
    <div *ngFor="let items of list;let i=index;">
        <div>
            <app-list-title *ngIf="Language=='en'" [title]="items.title"></app-list-title>
            <app-list-title *ngIf="Language=='cn'" [title]="items.title2"></app-list-title>
            <ul class="list">
                <li *ngFor="let item of items.data;let i=index;">
                    <a *ngIf="!item.id" [routerLink]="[item.link]" routerLinkActive="active">
                        <div>
                            <div class="icon">
                                <img [src]="item.url">
                                <i *ngIf="item.index>0">{{item.index}}</i>
                            </div>
                        </div>
                        <span *ngIf="Language=='en'">{{item.text}}</span>
                        <span *ngIf="Language=='cn'">{{item.text2}}</span>
                    </a>
                    <a *ngIf="item.id" [routerLink]="[item.link,item.id]" routerLinkActive="active">
                        <div>
                            <div class="icon">
                                <img [src]="item.url">
                                <i *ngIf="item.index>0">{{item.index}}</i>
                            </div>
                        </div>
                        <span *ngIf="Language=='en'">{{item.text}}</span>
                        <span *ngIf="Language=='cn'">{{item.text2}}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--list-->
</div>