<div class="container">
    <app-title *ngIf="Language=='en'" title="JO Traking"></app-title>
    <app-title *ngIf="Language=='cn'" title="生产单跟催"></app-title>
    <ul class="materList">
        <li *ngFor="let item of jolist;" (click)="Link(item)">
            <i></i>
            <h3 *ngIf="Language=='cn'">生产单号</h3>
            <h3 *ngIf="Language=='en'">JO</h3>
            <a class="arrow_right"></a>
            <em>{{item.code }}</em>
            <ul class="marterInfo">
                <li>
                    <p>{{item.customername}}</p>
                    <span *ngIf="Language=='cn'">客户名称</span>
                    <span *ngIf="Language=='en'">Customer Name</span></li>
                <li>
                    <p>{{item.amount}}</p>
                    <span *ngIf="Language=='en'">Amount</span>
                    <span *ngIf="Language=='cn'">数量</span></li>
                <li>
                    <p>{{item.deliverydate.substring(0,10)}}</p>
                    <span *ngIf="Language=='en'">Delivery Date</span>
                    <span *ngIf="Language=='cn'">交货期</span></li>
            </ul>
        </li>
    </ul>
    <app-load-more *ngIf="jolist.length>3" [language]="Language" (click)="GetList()"></app-load-more>
</div>