<div class="container">
    <app-title *ngIf="Language=='en'" title="JO Details Analysis"></app-title>
    <app-title *ngIf="Language=='cn'" title="生产单明细分析"></app-title>
    <div class="container_box">
        <div class="select_box">
            <ul class="select">
                <li [ngClass]="{'green':item.state}" *ngFor="let item of navigations;let i=index;" (click)="Select(i)">
                    <span [ngClass]="{'green':item.state}" *ngIf="Language=='cn'">{{item.text}}</span>
                    <span [ngClass]="{'green':item.state}" *ngIf="Language=='en'">{{item.text2}}</span>
                </li>
            </ul>
        </div>

        <div class="box">
            <p>{{listname}}</p>
            <div style="display:flex;justify-content:center;width:100%;padding-top:1rem;background:#fff;padding-bottom:1rem;">
                <div style="width:15rem;height:7.5rem;border-radius:7.5rem 7.5rem 0 0;
        background:#efefef;border:solid 1px #dfdfdf;position:relative;display:flex;justify-content:center;align-items: center;">
                    <span style="position:absolute;bottom:0;left:-1rem;">0</span>
                    <span style="position:absolute;top:30%;left:0;">20</span>
                    <span style="position:absolute;top:-0.7rem;left:3.8rem;">40</span>
                    <span style="position:absolute;top:-0.7rem;right:3.8rem;">60</span>
                    <span style="position:absolute;top:30%;right:0;">80</span>
                    <span style="position:absolute;bottom:0;right:-1.7rem;">100</span>
                    <h5>80%</h5>
                    <img #Pointer src="/assets/images/arrow_b.png" style="position:absolute;bottom:-0.5rem;width:55%;">
                    <button (click)="Transition(state=!state)" style="background:crimson;">过渡</button>
                </div>
            </div>
        </div>

    </div>