.select_box {
    display: flex;
    flex: 0 0 20%;
}

.container_box {
    display: flex;
    flex: 1;
    justify-content: space-between;
    width: 100%;
    margin-top: 0.5rem;
}

.select {
    width: 100%;
}

.box {
    flex: 0 0 78%;
    margin-top: 0.5rem;
}

.select li {
    width: 100%;
    background: #fff;
    text-align: left;
    padding: 1rem 0 1rem 0.2rem;
    background: #fff;
    border-bottom: 1px solid #f0f0f0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.select li span {
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.green {
    background: #088c77 !important;
    color: #fff;
}

.list_ul,
.list_ul li {
    display: flex;
    justify-content: flex-start;
    flex: 1;
    flex: 0 0 100%;
    flex-flow: wrap;
    align-items: center;
}

.list_ul {}

.list_ul li {
    background: #fff;
    margin-top: 0.5rem;
    padding-bottom: 1rem;
}

.list_container {
    display: flex;
    justify-content: flex-start;
    flex: 0 0 100%;
}

.list_container div {
    flex: 0 0 50%;
    margin-top: 1rem;
}

.list_container p {
    font-size: 1.4rem;
    padding-bottom: 0.8rem;
    padding-left: 1rem;
}

.list_container span {
    font-size: 1rem;
    margin-bottom: 0.8rem;
    color: #b2b2b2;
    padding-left: 1rem;
}

.box img {
    transform: rotate(0deg);
    transform-origin: center;
    transition: 1s;
}