<div class="container">
    <app-title [title]="title"></app-title>
    <app-search-box (outputValue)='updateList("search")'></app-search-box>
    <app-filter info="delay" (event)="updateList($event)"></app-filter>
    <ul class="processList" (DownUpdateDirective)="updateList('search')">
        <li *ngFor="let item of datas;" (click)='enterEdit(item)'>
            <div class="listTop">
                <h5>{{item.CustomerName}} — {{item.PoCode}}</h5>
                <em *ngIf="language=='en' && item.DelayDays>0">{{item.DelayDays}} days delay</em>
                <em *ngIf="language=='en' && item.DelayDays<=0">Abnormal data</em>
                <!-- <span *ngIf="language=='en'">Handle</span> -->
                <em *ngIf="language=='cn' && item.DelayDays>0">{{item.DelayDays}} 天延误 </em>
                <em *ngIf="language=='cn' && item.DelayDays<=0">数据异常 </em>
                <!-- <span *ngIf="language=='cn'">去处理</span> -->
            </div>
            <div class="listCon">
                <div class="process"><span class="number">{{item.Totalqty}}/{{item.Planqty}}</span>
                    <div class="processBox">
                        <div class="processBar" [ngStyle]="{'width': item.Schedulepercent*100 + '%'}"></div>
                    </div>
                    <span *ngIf="language=='en'" class="begin">{{item.StartDate}}(Begin)</span>
                    <span *ngIf="language=='cn'" class="begin">{{item.StartDate}}(始)</span>
                    <span *ngIf="language=='en'" class="end">{{item.EndDate}}(End)</span>
                    <span *ngIf="language=='cn'" class="end">{{item.EndDate}}(终)</span> </div>
                <span class="vlue">{{item.Schedulepercent*100}}%</span> </div>
            <div class="ListOther">
                <div class="otherBox">
                    <p>{{item.LineName}}</p>
                    <span *ngIf="language=='en'">Factory</span>
                    <span *ngIf="language=='cn'">工厂</span></div>
                <div class="processName">{{item.ProcessName}}</div>
                <div class="otherBox right">
                    <p>{{item.DeliveryDate}}</p>
                    <span *ngIf="language=='en'">Delivery Date</span>
                    <span *ngIf="language=='cn'">交货期</span></div>
            </div>
        </li>
    </ul>
    <app-load-more *ngIf="datas.length>0 && datas.length>3 || datas.length==0" [type]="type" (click)="updateList('add')"></app-load-more>
</div>