<header>
    <h1 *ngIf="language=='en'">Workbench</h1>
    <h1 *ngIf="language=='cn'">工作台</h1>
</header>
<div class="box">
    <div class="item">
        <img src="/assets/images/404.png" style="width: 10rem;" alt="">
        <p *ngIf="language=='cn'">您还没有加入任何企业，</p>
        <p *ngIf="language=='cn'">请联系要加入企业的负责人，索取二维码，点 "扫一扫" 加入企业</p>
        <p *ngIf="language=='en'">You have not joined any enterprise, </p>
        <p *ngIf="language=='en'">please contact the person in charge of the company to get the QR code, and click "Sweep to join the enterprise."</p>
    </div>
</div>