header {
    background-color: #088c77;
    width: 100%;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
}

header h1 {
    color: #ffffff !important;
    font-size: 1.8rem;
}

.box {
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}

.box .item {
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}

.item .key {
    width: 10rem;
}

.dl {
    border-radius: 3px;
    border: solid 1px #eee;
    display: flex;
    width: 20rem;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem;
}

.dl span {
    height: 1.6rem;
    line-height: 1.6rem;
    width: 18.5rem;
}

.max {
    width: 15rem;
}

.dl img {
    width: 1.5rem;
}

.arrow {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.arrow img {
    width: 1rem;
}

.box .item p {
    line-height: 1.6rem;
    flex: 0 0 100%;
    text-align: center;
    padding-bottom: 1rem;
}