<aside id="filter">
    <div id="filterBox">
        <h3 *ngIf="language=='en'">Filter<span (click)="back()">Back</span></h3>
        <h3 *ngIf="language=='cn'">筛选<span (click)="back()">返回</span></h3>
        <ul class="filter">
            <li *ngFor="let item of datas;let i=index;" [ngClass]="{'subwidth': i == 3 || i==4,'left': i == 3,'right':i==4}">
                <div class="filterTit">
                    <strong *ngIf="language=='en'" [ngClass]="{'left': i == 3,'title_right':i==4}">{{item.title}}</strong>
                    <strong *ngIf="language=='cn'" [ngClass]="{'left': i == 3,'title_right':i==4}">{{item.title2}}</strong>
                    <a *ngIf="item.arrow" (click)="item.rowstate=!item.rowstate" [ngClass]="{'rowDown':item.rowstate,'rowRight':!item.rowstate}"></a>
                    <a *ngIf="item.but" (click)="on_off(item.allstate,i,item)" [ngClass]="{'allOn_en':item.allstate && language=='en','allOff_en':!item.allstate && language=='en','allOn_cn':item.allstate && language=='cn','allOff_cn':!item.allstate && language=='cn'}"></a>
                </div>
                <ul class="list" *ngIf="item.rowstate">
                    <li (click)="change(arr,b,item,i)" *ngFor="let arr of item.list;let b=index;" [ngClass]="{'on':arr.state}" [ngStyle]="{ 'width': i == 3 || i==4?'100%':'30%' }">
                        <span *ngIf="language=='en'">  {{arr.text}}</span>
                        <span *ngIf="language=='cn'">  {{arr.text2}}</span>
                    </li>
                </ul>
                <div class="checkMonth" *ngIf="i==1">
                    <div class="icon_container">
                        <div id="water" class="water" (CapacityFilterDirective)="backDate($event)" [ngStyle]="{'left': waterLeft}">
                            <a>{{month}}</a>
                        </div>
                    </div>
                    <div class="xborder">
                        <div *ngFor="let date of dates;let b=index;" class="x2">
                            <div class="border"></div>
                        </div>
                    </div>
                    <div class="xbox">
                        <div id="progress" class="x green" [ngStyle]="{'width': progressWidth}"></div>
                        <div class="xleft"></div>
                        <div class="xright"></div>
                    </div>
                    <div class="number_row">
                        <span *ngFor="let date of dates;let b=index;" class="number">{{date}}</span>
                    </div>
                </div>
            </li>
        </ul>
        <button *ngIf="language=='en'" class="sbmit" (click)="complete()">Complete</button>
        <button *ngIf="language=='cn'" class="sbmit" (click)="complete()">完成</button>
    </div>
    <div id="shadow"></div>
</aside>