<div class="container">
    <app-title *ngIf="language=='en'" title="Start Time Delay"></app-title>
    <app-title *ngIf="language=='cn'" title="开工期延误订单"></app-title>
    <app-search-box (outputValue)='updateList("search")'></app-search-box>
    <app-filter info="delay" (event)="updateList($event)"></app-filter>

    <ul class="materList">
        <li *ngFor="let item of datas;"><i></i>
            <h3 *ngIf="language=='en'">JO</h3>
            <h3 *ngIf="language=='cn'">生产单号</h3>
            <em>{{item.PoCode}}</em>
            <ul class="marterInfo">
                <li>
                    <p>{{item.Pattern}}</p>
                    <span *ngIf="language=='en'">Fty Style</span>
                    <span *ngIf="language=='cn'">本厂款号</span></li>
                <li>
                    <p>{{item.CustomerName}}</p>
                    <span *ngIf="language=='en'">Customer Name</span>
                    <span *ngIf="language=='cn'">客户名称</span></li>
                <li>
                    <p>{{item.DeliveryDate}}</p>
                    <span *ngIf="language=='en'">Delivery Date</span>
                    <span *ngIf="language=='cn'">交货期</span></li>
                <li>
                    <p>{{item.PlanStart}}</p>
                    <span *ngIf="language=='en'">Schedule Start Date</span>
                    <span *ngIf="language=='cn'">计划开始时间</span></li>
                <li>
                    <p *ngIf="language=='en'" style="color:red;">{{item.DelayDays}}Day</p>
                    <p *ngIf="language=='cn'" style="color:red;">{{item.DelayDays}}天</p>
                    <span *ngIf="language=='en'">Delays</span>
                    <span *ngIf="language=='cn'">延误</span></li>
                <li class="item" (click)="item.arrow=!item.arrow">
                    <p *ngIf="language=='cn'">更多</p>
                    <p *ngIf="language=='en'">more</p>
                    <i [ngClass]="{'arrow_down':!item.arrow,'arrow_up':item.arrow}"></i></li>

                <li *ngIf="item.arrow">
                    <p>{{item.CustomerStyleNO}}</p>
                    <span *ngIf="language=='en'">Customer Style</span>
                    <span *ngIf="language=='cn'">客户款号</span></li>
                <li *ngIf="item.arrow">
                    <p>{{item.ProductTypeName}}</p>
                    <span *ngIf="language=='en'">Product Type</span>
                    <span *ngIf="language=='cn'">产品分类</span></li>
                <li *ngIf="item.arrow">
                    <p>{{item.Amount}}</p>
                    <span *ngIf="language=='en'">Amount</span>
                    <span *ngIf="language=='cn'">数量</span></li>
                <li *ngIf="item.arrow">
                    <p>{{item.LineName}}</p>
                    <span *ngIf="language=='en'">Line</span>
                    <span *ngIf="language=='cn'">生产线</span></li>
                <li *ngIf="item.arrow">
                    <p>{{item.MasterMatFinishDate}}</p>
                    <span *ngIf="language=='en'">Fabric Arrival Date</span>
                    <span *ngIf="language=='cn'">主料到厂日</span></li>
                <li *ngIf="item.arrow">
                    <p>{{item.NotMasterMatFinishDate}}</p>
                    <span *ngIf="language=='en'">Accessories Arrival Date</span>
                    <span *ngIf="language=='cn'">辅料到厂日</span></li>
                <li *ngIf="item.arrow">
                    <p>{{item.EarliestStartDate}}</p>
                    <span *ngIf="language=='en'">Earliest allowed start time</span>
                    <span *ngIf="language=='cn'">最早开工期</span></li>
            </ul>
        </li>
    </ul>
    <app-load-more *ngIf="datas.length>0 && datas.length>3 || datas.length==0" [type]="type" (click)="updateList('add')"></app-load-more>
</div>