.item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item p {
    color: #088c77;
    padding: 1rem;
    font-weight: 600;
}

.item i {
    width: 1.5rem;
}

.arrow_down {
    background: url(/assets/images/arrow_down.png) no-repeat center;
    background-size: 1.4rem;
}

.arrow_up {
    background: url(/assets/images/arrow_up.png) no-repeat center;
    background-size: 1.4rem;
}