.forgotpassword_container {
    background: #fff;
    width: 100%;
    height: 100%;
}

input::-webkit-input-placeholder {
    color: #b3b3b3;
}

input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #b3b3b3;
}

input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #b3b3b3;
}

input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #b3b3b3;
}

.input3_container {
    display: flex;
    flex: 0 0 35%;
}

.input {
    height: 100%;
    width: 100%;
    font-size: 1.15rem;
}

.item {
    display: flex;
    width: 100%;
    padding-top: 1.5rem;
    align-items: center;
    justify-content: center;
}

.code_container {
    display: flex;
    flex: 0 0 50%;
    justify-content: flex-end;
    align-items: center;
}

.code_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 4px;
}

.img_container {
    display: flex;
    flex: 0 0 15%;
    justify-content: center;
    align-items: center;
}

.item_container {
    border-bottom: 1px solid #e6e6e6;
    width: 95%;
    display: flex;
    padding-bottom: 1rem;
}

.img_container img {
    width: 40%;
}

.login {
    width: 95%;
    border-radius: 5px;
    height: 50px;
    color: #fff;
    background: #088c77;
    font-size: 1.4rem;
}

.item3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2.8rem;
}