<div class="forgotpassword_container">
    <app-title *ngIf="Language=='en'" title="Forgot Password"></app-title>
    <app-title *ngIf="Language=='cn'" title="忘记密码"></app-title>

    <div class="item">
        <div class="item_container">
            <div class="img_container">
                <img src="assets/images/phone2.png">
            </div>
            <div class="input3_container">
                <input class="input" [(ngModel)]="username" type="text" placeholder="Phone Number">
            </div>
            <div class="code_container">
                <button [ngClass]="{'code_gray':!codestate,'code_green':codestate}" (click)="getCode()">Get the verifying code{{time}}</button>
            </div>
        </div>
    </div>

    <div class="item" *ngFor="let item of items;">
        <div class="item_container">
            <div class="img_container">
                <img [src]="item.url">
            </div>
            <div class="input_container">
                <input class="input" [type]="item.type" [(ngModel)]="item.value" [value]="item.value" [placeholder]="item.text">
            </div>
        </div>
    </div>
    <div class="item3">
        <button class="login" (click)="confirm()">Confirm</button>
    </div>
    <app-message-box [msg]="message.msg" (event)="message.state=false" [btnText]="message.btnText" [msgShow]="message.state"></app-message-box>
</div>