<div class="container">
    <app-title *ngIf="language=='en'" title="Critical Event"></app-title>
    <app-title *ngIf="language=='cn'" title="关键事件"></app-title>
    <app-search-box (OutputValue)="updateList('search')"></app-search-box>
    <app-filter Info="event" (envet)="updateList($event)"></app-filter>
    <div class="container_box">
        <div class="box">
            <ul class="list">
                <li *ngFor="let item of datas;">
                    <div class="listTop">
                        <div class="i">
                            <p></p>
                        </div>
                        <div class="jo_container">
                            <span *ngIf="language=='en'">JO:{{item.code}}</span>
                            <span *ngIf="language=='cn'">生产单号:{{item.code}}</span>
                        </div>
                        <!-- <h5>{{item.code}}</h5> -->
                    </div>
                    <div class="left-content">
                        <div class="other">
                            <p>{{item.pattern}}</p>
                            <span *ngIf="language=='en'">Fty.style</span>
                            <span *ngIf="language=='cn'">本厂款号</span></div>
                        <div class="other">
                            <p>{{item.EventFlowName}}</p>
                            <span *ngIf="language=='en'">Critical Event Flow</span>
                            <span *ngIf="language=='cn'">关键事件流程</span></div>

                    </div>
                    <div class="left-content">
                        <div class="other">
                            <p>{{item.customerPattern}}</p>
                            <span *ngIf="language=='en'">Customer Pattern</span>
                            <span *ngIf="language=='cn'">客户款号</span></div>
                        <!-- <em class="eventName">
                                <span style="font-size:1.6rem;color:#088c77;"></span>
                          </em> -->
                    </div>
                    <div class="left-content">
                        <div class="other">
                            <p>{{item.deliverydate}}</p>
                            <span *ngIf="language=='en'">Delivery Date</span>
                            <span *ngIf="language=='cn'">交货期</span></div>
                        <div class="other">
                            <button *ngIf="language=='en'" class="entry" (click)="link(item)">Entry</button>
                            <button *ngIf="language=='cn'" class="entry" (click)="link(item)">录入</button></div>
                    </div>
                </li>
            </ul>
            <app-load-more *ngIf="datas.length>3" [language]="language" (click)="updateList('add')"></app-load-more>
        </div>
    </div>
</div>