<div class="container">
    <app-title *ngIf="Language=='en'" title="Critical Event"></app-title>
    <app-title *ngIf="Language=='cn'" title="关键事件进度录入"></app-title>
    <app-search-box (OutputValue)='UpdateList()'></app-search-box>
    <app-filter Info="event" (envet)="UpdateList($event)"></app-filter>
    <div class="container_box">
        <div class="box">
            <ul class="list">
                <li *ngFor="let item of datas;">
                    <div class="listTop">
                        <h5>{{item.code}}</h5>
                    </div>
                    <div class="left-content">
                        <div class="other">
                            <p>{{item.StarDate}}</p>
                            <span *ngIf="Language=='en'">Recommended Date</span>
                            <span *ngIf="Language=='cn'">推荐完成日期</span></div>
                        <div class="other">
                            <p>{{item.pattern}}</p>
                            <span *ngIf="Language=='en'">Fty.style</span>
                            <span *ngIf="Language=='cn'">本厂款号</span></div>
                    </div>
                    <div class="center-content">
                        <em class="eventName">
                                <span style="font-size:1.6rem;color:#088c77;"></span>
                          </em>
                    </div>
                    <div class="right-content">
                        <div class="other">
                            <p>{{item.EndDate}}</p>
                            <span *ngIf="Language=='en'">Delivery Date</span>
                            <span *ngIf="Language=='cn'">客户交期</span></div>
                        <div class="btn">
                            <button *ngIf="Language=='en'" class="entry" (click)="Link(item)">Entry</button>
                            <button *ngIf="Language=='cn'" class="entry" (click)="Link(item)">录入</button></div>
                    </div>
                </li>
            </ul>
            <app-load-more *ngIf="datas.length>3" [language]="Language" (click)="UpdateList()"></app-load-more>
        </div>
    </div>
</div>