/*.container{
    width: 100%;background: #f3f4f6;
}*/


/* Non-planing Process Entry */

.select_box {
    display: flex;
    width: 100%;
    flex: 0 0 20%;
}

.container_box {
    display: flex;
    flex: 1;
    justify-content: space-between;
    width: 100%;
}

.select {
    width: 100%;
}

.box {
    flex: 0 0 100%;
}

.select li {
    width: 100%;
    background: #fff;
    text-align: left;
    padding: 1rem 0 1rem 0.2rem;
    background: #fff;
    overflow: hidden;
    border-bottom: 1px solid #f0f0f0;
}

.box .list {
    width: 100%;
    background: #fff;
    float: right;
    border-bottom: 1px solid #f3f4f6;
}

.lists {
    display: flex;
    width: 100%;
}

.green {
    background: #088c77 !important;
    color: #fff;
}

.other p {
    font-size: 1.4rem;
    line-height: 1.4rem;
    margin-bottom: 0.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.other span {
    line-height: 1.5rem;
    font-size: 1rem;
    color: #b2b2b2;
    flex: 0 0 100%;
}

.items {
    width: 100%;
    clear: both;
    overflow: hidden;
    padding: 0 5% 0;
    border-top: #dbdbdb solid 1px;
    margin-bottom: 1rem;
}

.box .list .other {
    flex: 0 0 33.33%;
    list-style: none;
    font-style: normal;
    color: #333;
    text-decoration: none;
    display: flex;
    flex-flow: wrap;
}

.other p {
    flex: 0 0 100%;
}

.btn {
    flex: 0 0 33.33%;
}

.entry {
    background: #088c77;
    color: #fff;
    text-align: center;
    line-height: 3rem;
    height: 3rem;
    width: 5rem;
    border-radius: 0.5rem;
    font-size: 1.6rem;
    margin-right: 1rem;
}

.list {
    display: flex;
    flex-flow: wrap;
}

.list .list_title {
    display: flex;
    flex: 0 0 100%;
    justify-content: flex-start;
    align-items: center;
}

.list .list_title .i p {
    height: 4rem;
    width: 10px;
    background: #9eb4d8;
}

.list .list_title .i {
    flex: 0 0 5%;
    height: 4rem;
    width: 10px;
}

.jo_container {
    flex: 0 0 65%;
}

.jo_container span {
    font-size: 1.4rem;
}

.entry_container {
    flex: 0 0 30%;
    display: flex;
    justify-content: flex-end;
}

.row {
    display: flex;
    padding-top: 1rem;
}