<div class="container">
    <app-title *ngIf="language=='en'" [title]="title"></app-title>
    <app-title *ngIf="language=='cn'" [title]="title"></app-title>
    <section class="searchBox">
        <input class="searchBut search" [(ngModel)]='input' type="text" [placeholder]="placeholder">
    </section>
    <aside id="filter">
        <div id="filterBox">
            <ul class="filter">
                <li *ngFor="let item of datas;let i=index;">
                    <div class="filterTit">
                        <strong *ngIf="language=='en'">{{item.title}}</strong>
                        <strong *ngIf="language=='cn'">{{item.title2}}</strong>
                        <a *ngIf="item.arrow" (click)="item.rowstate=!item.rowstate" [ngClass]="{'rowDown':item.rowstate,'rowRight':!item.rowstate}"></a>
                        <a *ngIf="item.but" (click)="on_off(item.allstate,i,item)" [ngClass]="{'allOn_en':item.allstate && language=='en','allOff_en':!item.allstate && language=='en','allOn_cn':item.allstate && language=='cn','allOff_cn':!item.allstate && language=='cn'}"></a>
                    </div>
                    <ul class="list" *ngIf="item.rowstate">
                        <li (click)="change(arr,b,item,i)" style="overflow: hidden;" *ngFor="let arr of item.list;let b=index;" [ngClass]="{'on':arr.state}">
                            <!-- <span *ngIf="id == 5 || id == 6 || id == 7">{{arr.itemName}}</span> -->
                            <span *ngIf="language=='en'">  {{arr.text}}</span>
                            <span *ngIf="language=='cn'">  {{arr.text2}}</span>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="date_container" *ngIf="datecontainer">
                <div class="date_item">
                    <p (click)="state=true">{{StartDate}}</p>
                    <p class="bar"></p>
                    <p (click)="state=true">{{EndDate}}</p>
                </div>
            </div>
            <div class="date_container2" *ngIf="index == 0 && id == 1">
                <strong *ngIf="language=='en'">Production Date Includes</strong>
                <strong *ngIf="language=='cn'">生产日期包含</strong>
                <div class="date_item2">
                    <p (click)="state=true">{{StartDate}}</p>
                </div>
            </div>
            <div class="submitBox">
                <button *ngIf="language=='en'" (click)="query()">Query</button>
                <button *ngIf="language=='cn'" (click)="query()">查询</button>
            </div>
        </div>
        <app-date *ngIf="state" [number]="number" (submit)="backDate($event)"></app-date>
    </aside>
</div>