<div class="container">
    <app-title *ngIf="Language=='en'" [title]="title"></app-title>
    <app-title *ngIf="Language=='cn'" [title]="title"></app-title>
    <section class="searchBox">
        <input class="searchBut search" type="text" [placeholder]="placeholder">
    </section>

    <aside id="filter">
        <div id="filterBox">
            <ul class="filter">
                <li *ngFor="let item of datas;let i=index;">
                    <div class="filterTit">
                        <strong *ngIf="Language=='en'">{{item.title}}</strong>
                        <strong *ngIf="Language=='cn'">{{item.title2}}</strong>
                        <a *ngIf="item.arrow" (click)="item.rowstate=!item.rowstate" [ngClass]="{'rowDown':item.rowstate,'rowRight':!item.rowstate}"></a>
                        <a *ngIf="item.but" (click)="On_Off(item.allstate,i)" [ngClass]="{'allOn':item.allstate,'allOff':!item.allstate}"></a>
                    </div>
                    <ul class="list" *ngIf="item.rowstate">
                        <li (click)="arr.state=!arr.state" *ngFor="let arr of item.list;" [ngClass]="{'on':arr.state}">
                            <span *ngIf="Language=='en'">  {{arr.text}}</span>
                            <span *ngIf="Language=='cn'">  {{arr.text2}}</span></li>
                    </ul>
                </li>
            </ul>
            <div class="date_container" *ngIf="datecontainer">
                <div class="date_item">
                    <p (click)="state=true">{{StartDate}}</p>
                    <p class="bar"></p>
                    <p (click)="state=true">{{EndDate}}</p>
                </div>
            </div>
            <div class="submitBox">
                <button *ngIf="Language=='en'" (click)="Query()">Query</button>
                <button *ngIf="Language=='cn'" (click)="Query()">查询</button>
            </div>
        </div>
        <app-date *ngIf="state" number="2" (submit)="backDate($event)"></app-date>
    </aside>
</div>