<header>
    <h1 *ngIf="language=='en'">Workbench</h1>
    <h1 *ngIf="language=='cn'">工作台</h1>
</header>
<div class="hidden_header"></div>
<div class="container">
    <img src="assets/images/banner.png" style="width: 100%;" alt="">
    <div class="box">
        <div *ngFor="let item of plans" class="plan">
            <p class="row_title"><i></i>{{item.title}}</p>
            <div class="item" *ngFor="let data of item.data" (click)="link(data.link,item.nodeId)">
                <div class="icon_box">
                    <div style="width: 40%;position: relative;">
                        <img [src]="data.icon" style="width: 100%;" alt="">
                        <button *ngIf="data.number>0">{{data.number}}</button>
                    </div>
                </div>
                <p *ngIf="language=='en'">{{data.title}}</p>
                <p *ngIf="language=='cn'">{{data.title2}}</p>
            </div>
        </div>
    </div>
</div>
<div class="container" *ngIf="plans.result.resultInfo.length <= 0">
    <div class="undefined">
        <img src="assets/images/undefined.png" style="width: 40%;" alt="">
    </div>
    <div class="undefined">
        <span style="color:#a1a2a3;">暂无外发数据！</span>
    </div>
</div>