<header>
    <h1 *ngIf="Language=='en'">Workbench</h1>
    <h1 *ngIf="Language=='cn'">工作台</h1>
</header>
<div class="hidden_header"></div>
<div class="container">
    <img src="assets/images/banner.png" style="width: 100%;" alt="">
    <div class="box">
        <div *ngFor="let item of plans" class="plan">
            <p class="row_title"><i></i>{{item.title}}</p>
            <div class="item" *ngFor="let data of item.data" (click)="link(data.link)">
                <div class="icon_box">
                    <div style="width: 40%;position: relative;">
                        <img [src]="data.icon" style="width: 100%;" alt="">
                        <button>10</button>
                    </div>
                </div>
                <p>{{data.title}}</p>
            </div>
        </div>
    </div>
</div>