<app-title *ngIf="language=='en'" [link]="link" title="All Applications"></app-title>
<app-title *ngIf="language=='cn'" [link]="link" title="全部应用"></app-title>
<div class="container">
    <!--list-->
    <div *ngFor="let items of list;let i=index;">
        <div>
            <app-list-title *ngIf="language=='en'" [title]="items.title"></app-list-title>
            <app-list-title *ngIf="language=='cn'" [title]="items.title2"></app-list-title>
            <ul class="list">
                <li *ngFor="let item of items.data;let b=index;">
                    <a (click)="routerlink(item,i)">
                        <div>
                            <div class="icon">
                                <img [src]="item.url">
                                <i *ngIf="item.index>0">{{item.index}}</i>
                            </div>
                        </div>
                        <span *ngIf="language=='en'">{{item.text}}</span>
                        <span *ngIf="language=='cn'">{{item.text2}}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--list-->
</div>