.event_name {
    display: flex;
    flex: 1;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

.event_name li {
    display: flex;
    flex: 0 0 20%;
    align-items: center;
    justify-content: center;
    color: #088c77;
    padding: 1rem 0 1rem 0;
    text-align: center;
    flex-flow: wrap;
}

.border_right {
    border-right: 1px solid #dbdbdb;
}

.green {
    color: #088c77;
}

.event_date {
    display: flex;
    flex: 1;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    flex-flow: wrap;
    border-top: 1px solid #dbdbdb;
}

.event_date li {
    display: flex;
    flex: 0 0 20%;
    align-items: center;
    justify-content: center;
    padding: 1rem 0 1rem 0;
    margin: 0;
}