<div class="container">
    <app-title *ngIf="Language=='en'" title="Weekly Running Schedule Report"></app-title>
    <app-title *ngIf="Language=='cn'" title="滚动生产排期"></app-title>
    <app-search-box></app-search-box>
    <ul class="materList">
        <li (click)="Link()">
            <i></i>
            <h3 *ngIf="Language=='cn'" class="JO">生产单号：1317423890</h3>
            <h3 *ngIf="Language=='en'" class="JO">JO：1317423890</h3>
            <em *ngIf="Language=='cn'" class="Fty">本厂款号：SEM7423</em>
            <em *ngIf="Language=='en'" class="Fty">Fty Style：SEM7423</em>
            <ul class="marterInfo">
                <li>
                    <p>KSS23334</p>
                    <span *ngIf="Language=='cn'">客户款号</span>
                    <span *ngIf="Language=='en'">Cust.Style</span></li>
                <li>
                    <p>PO3222233</p>
                    <span *ngIf="Language=='cn'">产品分类</span>
                    <span *ngIf="Language=='en'">Product Type</span></li>
                <li>
                    <p>111</p>
                    <span *ngIf="Language=='cn'">计划开始日期</span>
                    <span *ngIf="Language=='en'">Sche.Start Time</span></li>
                <li>
                    <p>6672</p>
                    <span *ngIf="Language=='cn'">主料到厂日</span>
                    <span *ngIf="Language=='en'">Fabric Arrival</span></li>
                <li>
                    <p>2017-12-25</p>
                    <span *ngIf="Language=='cn'">数量</span>
                    <span *ngIf="Language=='en'">Amount</span></li>
                <li>
                    <p>43</p>
                    <span *ngIf="Language=='cn'">交货期</span>
                    <span *ngIf="Language=='en'">Delivery Date</span></li>
            </ul>
        </li>
    </ul>
</div>