<div class="container">
    <app-title *ngIf="Language=='en'" [title]="title"></app-title>
    <app-title *ngIf="Language=='cn'" [title]="title2"></app-title>
    <div class="non-process" *ngIf="data.Pid=='non-process'">
        <div class="select-container" (click)="selectstate=!selectstate">
            <span class="select_p">Please select the process</span>
            <span class="select_name">{{processName}}</span>
            <span class="arrow">></span>
        </div>
    </div>
    <div style="position: relative;width: 100%;">
        <div class="tabs_container" *ngIf="selectstate">
            <p class="tabs" *ngFor="let item of process" (click)="switch(item.itemId,item.itemName)">
                <span style="padding-left:1rem; ">{{item.itemName}}</span>
            </p>
        </div>
    </div>
    <ul class="items">
        <li class="row">
            <div class="other">
                <p>{{data.LineName}}</p>
                <span *ngIf="Language=='en'">Line</span>
                <span *ngIf="Language=='cn'">生产线</span>
            </div>
            <div class="other">
                <p>{{data.code}}</p>
                <span *ngIf="Language=='en'">JO</span>
                <span *ngIf="Language=='cn'">生产单号</span>
            </div>
            <div class="other">
                <p>{{data.pattern}}</p>
                <span *ngIf="Language=='en'">Fty Style</span>
                <span *ngIf="Language=='cn'">本厂款号</span>
            </div>
        </li>
        <li class="row">
            <div class="other">
                <p>{{data.deliverydate}}</p>
                <span *ngIf="Language=='en'">Completion Time</span>
                <span *ngIf="Language=='cn'">车间交期</span>
            </div>
            <div class="other">
                <p>{{data.StarDate}}</p>
                <span *ngIf="Language=='en'">Production Start Time</span>
                <span *ngIf="Language=='cn'">开始日期</span>
            </div>
            <div class="other">
                <p>{{data.EndDate}}</p>
                <span *ngIf="Language=='en'">Production End Time</span>
                <span *ngIf="Language=='cn'">结束日期</span>
            </div>
        </li>
        <li class="row">
            <div class="other">
                <p>{{data.amount}}</p>
                <span *ngIf="Language=='en'">Amount</span>
                <span *ngIf="Language=='cn'">总数量</span>
            </div>
            <div class="other">
                <p>{{data.CompleteAmount}}</p>
                <span *ngIf="Language=='en'">Completion.Qty</span>
                <span *ngIf="Language=='cn'">已完成数量</span>
            </div>
        </li>
    </ul>
    <div class="tab">
        <a> <span *ngIf="Language=='cn'" [ngClass]="{'green':!tabstate}" (click)="tabstate=false">分颜色尺码录入</span>
            <span *ngIf="Language=='en'" [ngClass]="{'green':!tabstate}" (click)="tabstate=false">Color/Size Entrt</span> </a>
        <a> <span *ngIf="Language=='cn'" [ngClass]="{'green':tabstate}" (click)="tabstate=true">按订单录入</span>
            <span *ngIf="Language=='en'" [ngClass]="{'green':tabstate}" (click)="tabstate=true">JO Entrt</span></a>
    </div>

    <div class="colrCon" *ngIf="!tabstate">
        <ul class="colorMenu">
            <li *ngFor="let item of color_tabs;let i=index;" [ngClass]="{'big_green':green_show==i}" (click)="green_show=i">
                <span [ngClass]="{'small_green':green_show==i}">{{item.Color}}</span>
            </li>
        </ul>
        <div class="colorTab" *ngIf="color_tabs.length>0">
            <ul>
                <li class="Tabtitle">
                    <span *ngIf="Language=='cn'">尺码</span>
                    <span *ngIf="Language=='cn'">排产数</span>
                    <span *ngIf="Language=='cn'">已完成数</span>
                    <span *ngIf="Language=='cn'">本次进度</span>
                    <span *ngIf="Language=='en'">Size</span>
                    <span *ngIf="Language=='en'">Schd.Qty</span>
                    <span *ngIf="Language=='en'">Completed.Qty</span>
                    <span *ngIf="Language=='en'">Progress</span>
                </li>
                <li *ngFor="let item of color_tabs[green_show].SizeCompletes">
                    <span>{{item.Size}}</span>
                    <span>{{item.PlanAmount}}</span>
                    <span>{{item.CompleteAmount}}</span>
                    <span><input type="text" (change)="change()" style="width:100%;text-align: center;" [(ngModel)]="item.Amount"></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="date_container" (click)="showDate()">
        <span *ngIf="Language=='cn'" class="select1">生产日期</span>
        <span *ngIf="Language=='en'" class="select1">Production Date</span>
        <span class="select2">{{date}}</span>
    </div>
    <div class="date_container" style="margin-bottom:1rem;" *ngIf="tabstate" (click)="InputFocus()">
        <span *ngIf="Language=='en'" class="select1"> Completed Qty</span>
        <span *ngIf="Language=='cn'" class="select1"> 完成数量</span>
        <input #NumberInput [(ngModel)]="number" type="text" [placeholder]="placeholder">
    </div>
    <div class="date_container">
        <span *ngIf="Language=='en'" class="select1">Setup is completed</span>
        <span *ngIf="Language=='cn'" class="select1">设置已完成</span>
        <i *ngIf="Language=='cn'" [ngClass]="{'cn_off':!allstate,'cn_on':allstate}" (click)="allstate=!allstate"></i>
        <i *ngIf="Language=='en'" [ngClass]="{'en_off':!allstate,'en_on':allstate}" (click)="allstate=!allstate"></i>
    </div>
    <app-date *ngIf="state" number="1" (submit)="backDate($event)"></app-date>
    <div class="submitBox">
        <button *ngIf="Language=='cn'" type="submit" (click)="Save()">保存</button>
        <button *ngIf="Language=='en'" type="submit" (click)="Save()">Submit</button>
    </div>
</div>