.tab {
    width: 100%;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    background: #fff;
    height: 2.5rem;
}

.tab a {
    flex: 0 0 40%;
}

.tab a span {
    font-weight: 600;
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
}

.green {
    color: #088c77;
    border-bottom: 2px solid #088c77;
}

.big_green {
    border-bottom: 2px solid #088c77;
}

.small_green {
    color: #088c77;
}

.colrCon {
    background: #f3f4f6;
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #dbdbdb;
}

.colorMenu {
    flex: 0 0 20%;
    height: 100%;
    max-height: 150px;
    overflow: auto;
}

.colorMenu li {
    line-height: 2rem;
    text-align: center;
    font-size: 1.4rem;
    background: #f3f4f6;
}

.colorMenu li span {
    line-height: 2rem;
    text-align: center;
    font-size: 1.4rem;
    width: 100%;
    background: #f3f4f6;
}

.Tabtitle {
    display: flex;
}

.colorTab ul {
    display: flex;
    width: 100%;
}

.Tabtitle span {
    flex: 0 0 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colrCon .colorTab {
    flex: 0 0 80%;
    background: #fff;
    display: flex;
}

.colrCon .colorTab td {
    min-width: inherit;
    text-align: center;
}

.colrCon table {
    clear: both;
    border-collapse: collapse;
}

.colrCon table td,
.colrCon table th {
    border-collapse: collapse;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
}

.colrCon table th {
    color: black;
    font-size: 1rem;
    text-align: center;
    height: 3.5rem;
    line-height: 3.5rem;
}

.colrCon table td {
    font-size: 1.4rem;
    color: #808080;
    line-height: 2rem;
    padding: 0.5rem;
    width: 25%;
    max-width: 25%;
}

tbody,
tr {
    width: 100%;
}

td input {
    width: 100%;
    font-size: 1.4rem;
}

.date_container {
    display: flex;
    flex: 1;
    align-items: center;
    background: #fff;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-bottom: 1px solid #dbdbdb;
    justify-content: space-between;
    margin-bottom: 0;
}

.date_container div {
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date_container div span {
    font-size: 1.2rem;
}

.date_container input {
    font-size: 1.2rem;
    width: 11rem;
}

.select1 {
    padding: 0.8rem 1rem 0.8rem 1rem;
    font-size: 1.2rem;
}

.input {
    padding: 0.8rem 0rem 0.8rem 1rem;
    font-size: 1.2rem;
    width: 11rem;
}

.select2 {
    padding: 0.8rem 0rem 0.8rem 1rem;
    font-size: 1.2rem;
    width: 11rem;
    color: #b3b3b3;
    background: url(/assets/images/arrow_right.png) no-repeat right top 0.6rem;
    background-size: 1.2rem;
}

.set_container {
    padding: 0.8rem;
    font-size: 1.2rem;
}

.off {
    background: url(/assets/images/off.png) no-repeat right;
    background-size: 4rem;
    width: 4rem;
    height: 2.2rem;
}

.on {
    background: url(/assets/images/on.png) no-repeat right;
    background-size: 4rem;
    width: 4rem;
    height: 2.2rem;
}

.non-process {
    display: flex;
    padding: 1rem;
    flex-flow: wrap;
    position: relative;
    background: #fff;
    border-bottom: 1px solid #e6e6e6;
}

.select-container {
    display: flex;
    flex: 0 0 100%;
}

.select-container li {
    flex: 0 0 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #ddd;
}

.select-container li.active {
    color: #088c77;
}

.select-container li:last-child {
    border-right: 0 none;
}

.select-container li span {
    display: inline-block;
    width: 10%;
    padding: 0.3rem;
    background: url(/assets/images/arrow_down.png) no-repeat right;
    background-size: 1rem;
}

.select-container li span.active {
    background: url(/assets/images/arrow_up_green.png) no-repeat right;
    background-size: 1rem;
}

.select-container li span img {
    width: 100%;
}

.select_name {
    flex: 0 0 30%;
    font-size: 1.4rem;
    color: #333333;
}

.arrow {
    flex: 0 0 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
}

.tabs {
    display: flex;
    flex: 0 0 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.4rem;
    border-bottom: solid 1px #e6e6e6;
    color: #333333;
}

.tabs_container {
    display: flex;
    width: 100%;
    flex-flow: wrap;
    position: absolute;
    top: 0;
    background: #fff;
}

.colorTab ul {
    flex: 0 0 100%;
    display: flex;
    flex-flow: wrap;
}

.colorTab ul li {
    flex: 0 0 100%;
    display: flex;
}

.colorTab ul li span {
    flex: 0 0 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    overflow: hidden;
    box-sizing: border-box;
}

.row {
    display: flex;
    padding-top: 1rem;
    padding-left: 1rem;
    align-items: flex-start;
}

.other {
    width: 33.33%;
    flex: 0 0 33.33%;
    list-style: none;
    font-style: normal;
    color: #333;
    text-decoration: none;
    display: flex;
    flex-flow: wrap;
}

.other p {
    font-size: 1.4rem;
    line-height: 1.6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    min-height: 1.6rem;
}

.other span {
    line-height: 1.5rem;
    font-size: 1rem;
    color: #b2b2b2;
    flex: 0 0 100%;
}

.items {
    width: 100%;
    clear: both;
    overflow: hidden;
    border-top: #dbdbdb solid 1px;
    margin-bottom: 1rem;
    background: #fff;
}

.select_p {
    font-size: 1.4rem;
    flex: 0 0 60%;
    color: #808080;
}

.border-top {
    border-top: 1px solid #dbdbdb;
}