h5 {
    line-height: 1.8rem;
    color: #58bc58
}

.demo-chart {
    width: 80%;
    height: 10rem;
}

ul li {
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li span:first-child {
    margin-left: 1rem;
    width: 1rem;
    height: 0.8rem;
    background: #0000FF;
}

ul li:nth-child(2) span:first-child {
    background: #677a88;
}

ul li:nth-child(3) span:first-child {
    background: #ffff00;
}

ul li span:nth-child(2) {
    display: inline-block;
    width: 70%;
    text-align: left;
    padding-left: 0.5rem;
}