<div class="register_container">
    <app-title *ngIf="Language=='en'" title="Register"></app-title>
    <app-title *ngIf="Language=='cn'" title="注册"></app-title>

    <div class="item">
        <div class="item_container">
            <div class="img_container">
                <img src="assets/images/icon_user_normal.png" alt="">
            </div>
            <div class="input_container">
                <input class="input" minlength="1" maxlength="20" [(ngModel)]="username" type="text" placeholder="User Name">
            </div>
        </div>
    </div>

    <div class="item">
        <div class="item_container">
            <div class="img_container">
                <img src="assets/images/password2.png">
            </div>
            <div class="input2_container">
                <input id="password" minlength="6" maxlength="20" class="input" [(ngModel)]="password" type="password" placeholder="Enter Password">
            </div>
            <div class="look_container">
                <img src="assets/images/look.png" width="50%" (touchstart)="lookStart()" (touchend)="lookEnd()">
            </div>
        </div>
    </div>

    <!-- <div class="item">
        <div class="item_container">
            <div class="img_container">
                <img src="assets/images/email.png">
            </div>
            <div class="input3_container">
                <input minlength="6" maxlength="6" class="input" type="text" [(ngModel)]="code" placeholder="Verification Code">
            </div>
            <div class="code_container">
                <button [ngClass]="{'code_gray':!codestate,'code_green':codestate}" (click)="getCode()">Get the verifying code{{time}}</button>
            </div>
        </div>
    </div> -->
    <img src="assets/images/radio_right.png" style="display: none;" alt="">
    <img src="assets/images/loading.gif" style="display: none;" alt="">

    <div class="item3">
        <button class="register" (click)="register()" [disabled]="!state" [ngClass]="{'green':state,'gray':!state}">Register</button>
    </div>

    <div class="item4">
        <div class="item4_container">
            <div class="check_radio">
                <a [ngClass]="{'radio_on':state,'radio_off':!state}" (click)="state=!state"></a>
            </div>
            <p style="display: flex;flex: 0 0 90%;">I agree with the &nbsp; <span style="color: #088c77;">Terms of Service Privacy Policy.</span></p>
        </div>
    </div>
    <app-message-box [msg]="message.msg" (event)="message.state=false" [btnText]="message.btnText" [msgShow]="message.state"></app-message-box>
    <app-loading [loadingShow]="loading"></app-loading>
</div>