<div class="container">
    <app-title [title]="title" [link]="link"></app-title>
    <app-search-box (outputValue)='updateList("search")'></app-search-box>
    <app-filter info="delay" (event)="updateList($event)"></app-filter>
    <app-tabs [tabs]="tabs" (indexchange)="showIndex($event)"></app-tabs>
    <div class="box" (DownUpdateDirective)="updateList('search')">
        <div class="box_row" *ngFor="let item of datas;let i=index;" (click)="enterEdit(item)">
            <div class="itemTop">
                <h4>{{item.CustomerName}} - {{item.PoCode}}</h4>
            </div>
            <ul class="items">
                <li class="row left">
                    <div class="other">
                        <p>{{item.StartTime}}</p>
                        <span *ngIf="language=='en'">Start Date</span>
                        <span *ngIf="language=='cn'">计划开始日期</span>
                        <p>{{item.Pattern}}</p>
                        <span *ngIf="language=='en'">Fty Style</span>
                        <span *ngIf="language=='cn'">本厂款号</span>
                    </div>
                </li>
                <li class="row center">
                    <div class="other center">
                        <div class="slightDelay">
                            <div class="delay_box">
                                <span *ngIf="language=='en'">{{item.DelayDays}} Days </span>
                                <span *ngIf="language=='cn'">{{item.DelayDays}} 天</span>
                                <span *ngIf="language=='en'">Delays</span>
                                <span *ngIf="language=='cn'">延误</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="row right">
                    <div class="other">
                        <p>{{item.FactoryDelivery}}</p>
                        <span *ngIf="language=='en'">Factory Delivery</span>
                        <span *ngIf="language=='cn'">车间最早交期</span>
                        <p>{{item.DeliveryDate}}</p>
                        <span *ngIf="language=='en'">Delivery Date</span>
                        <span *ngIf="language=='cn'">交货期</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <app-load-more *ngIf="datas.length>0 && datas.length>3 || datas.length==0" [type]="type" (click)="updateList('add')"></app-load-more>
</div>