.box {
    display: flex;
    flex: 0 0 100%;
    box-sizing: border-box;
}

.items {
    width: 100%;
    border-top: #dbdbdb solid 1px;
    margin-bottom: 1rem;
    display: flex;
    flex: 0 0 100%;
    padding: 1rem;
    box-sizing: border-box;
}

.row {
    flex: 0 0 33.33%;
    display: flex;
    padding-top: 1rem;
    align-items: flex-start;
    flex-flow: wrap;
}

.box .other {
    flex: 0 0 33.33%;
    list-style: none;
    font-style: normal;
    color: #333;
    text-decoration: none;
    display: flex;
    flex-flow: wrap;
}

.left {
    justify-content: flex-start;
}

.right {
    justify-content: flex-end;
}

.center {
    justify-content: center;
    align-items: center;
}

.other p {
    font-size: 1.4rem;
    line-height: 1.4rem;
    margin-bottom: 0.2rem;
    overflow: hidden;
    min-height: 1.4rem;
    width: 100%;
}

.other span {
    line-height: 1.5rem;
    font-size: 1rem;
    color: #b2b2b2;
    flex: 0 0 100%;
}