.criticalList li {
    overflow: hidden;
    background: #fff;
    margin-bottom: 1rem;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.criticalList li .criticalTop {
    overflow: hidden;
    border-bottom: #ededed solid 1px;
    height: 4rem;
    padding: 0 1rem;
    background: #fff url(/assets/images/arrow_right.png) no-repeat 98% center;
    background-size: 1.5rem;
}

.criticalList li .criticalTop span {
    float: right;
    margin-right: 1rem;
    line-height: 4rem;
    font-size: 1.4rem;
}

.criticalList li .criticalTop h5 {
    font-size: 1.5rem;
    color: #088c77;
    float: left;
    line-height: 4rem;
}

.criticalCon {
    display: flex;
    flex: 1;
}

.criticalCon .right {
    flex: 0 0 30%;
    text-align: right;
}

.criticalCon .left {
    flex: 0 0 30%;
}

.criticalCon .centre {
    flex: 0 0 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.criticalCon .slightDelay {
    float: left;
    width: 7rem;
    height: 7rem;
    border-radius: 7rem;
    background: #ff81dd;
    color: #fff;
    font-size: 1.6rem;
    line-height: 1.6rem;
    display: -webkit-box;
    display: -moz-box;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    text-align: center;
}

.criticalCon {
    overflow: hidden;
    padding: 1rem 1rem 0;
}

.criticalCon .left p,
.criticalCon .right p {
    color: #4d4d4d;
    font-size: 1.4rem;
    line-height: 2.5rem;
}

.criticalCon .left span,
.criticalCon .right span {
    color: #b8b8b8;
    display: inline-block;
    margin-bottom: 1rem;
}