<aside id="filter">
    <div id="filterBox">
        <h3 *ngIf="Language=='en'">Filter<span (click)="Back()">Back</span></h3>
        <h3 *ngIf="Language=='cn'">筛选<span (click)="Back()">返回</span></h3>
        <ul class="filter">
            <li *ngFor="let item of datas;let i=index;" style="border-bottom: 1px solid #eee;">
                <div class="filterTit">
                    <strong *ngIf="Language=='en'">{{item.title}}</strong>
                    <strong *ngIf="Language=='cn'">{{item.title2}}</strong>
                    <a *ngIf="item.arrow" (click)="item.rowstate=!item.rowstate" [ngClass]="{'rowDown':item.rowstate,'rowRight':!item.rowstate}"></a>
                    <a *ngIf="item.but" (click)="on_off(item.allstate,i,item)" [ngClass]="{'allOn':item.allstate,'allOff':!item.allstate}"></a>
                </div>
                <ul class="list" *ngIf="item.rowstate">
                    <li (click)="change(arr,b,item,i)" *ngFor="let arr of item.list;let b=index;" [ngClass]="{'on':arr.state}">
                        <span>  {{arr.text}}</span>
                    </li>
                </ul>
                <hr *ngIf="i==0">
                <div style="width: 100%;display: flex;padding-right:1rem;box-sizing: border-box;flex-flow: wrap; margin-bottom:1rem;" *ngIf="i==0">
                    <p *ngIf="Language=='cn'" style="margin-top:1rem;font-size: 1.6rem;flex: 0 0 100%;">周期</p>
                    <div class="icon_container">
                        <div class="water" appCapacityFilter>
                            <a>1</a>
                        </div>
                    </div>
                    <div class="xborder">
                        <div *ngFor="let date of dates;let b=index;" class="x2">
                            <div class="border"></div>
                        </div>
                    </div>
                    <div class="xbox">
                        <div class="x green"></div>
                        <div class="xleft"></div>
                        <div class="xright"></div>
                    </div>
                    <div class="number_row">
                        <span *ngFor="let date of dates;let b=index;" class="number">{{date}}</span>
                    </div>
                </div>
            </li>
        </ul>
        <button *ngIf="Language=='en'" class="sbmit" (click)="complete()">Complete</button>
        <button *ngIf="Language=='cn'" class="sbmit" (click)="complete()">完成</button>
    </div>
    <div id="shadow"></div>
</aside>