<header>
    <h1 *ngIf="language=='en'">Workbench</h1>
    <h1 *ngIf="language=='cn'">工作台</h1>
</header>
<div class="box">
    <div class="item">
        <img class="key" src="/assets/images/404.png">
        <p *ngIf="language=='en'" style="padding-top:1rem;color: #acadad; ">NO Access ！</p>
        <p *ngIf="language=='cn'" style="padding-top:1rem;color: #acadad; ">无访问权限 ！</p>
        <p *ngIf="language=='en'">You have not joined any enterprise,you can:</p>
        <p *ngIf="language=='cn'">您还没有加入任何企业，你可以：</p>
        <div class="dl" [ngClass]="{'max':language=='cn'}">
            <span *ngIf="language=='en'">1、Request the QR code from the admin.</span>
            <span *ngIf="language=='cn'">1、向负责人索取二维码</span>
            <img src="/assets/images/qr_code.png" alt="">
        </div>
        <div class="arrow">
            <img src="/assets/images/icon_arrow.png" alt="">
        </div>
        <div class="dl" [ngClass]="{'max':language=='cn'}">
            <span *ngIf="language=='en'">2、Click "Me".</span>
            <span *ngIf="language=='cn'">2、点击 "我的"</span>
            <img src="/assets/images/icon_own.png" alt="">
        </div>
        <div class="arrow">
            <img src="/assets/images/icon_arrow.png" alt="">
        </div>
        <div class="dl" [ngClass]="{'max':language=='cn'}">
            <span *ngIf="language=='en'">3、Sweep to join the enterprise.</span>
            <span *ngIf="language=='cn'">3、扫一扫加入企业</span>
            <img src="/assets/images/icon_code.png" alt="">
        </div>
    </div>
</div>