<div class="container">
    <app-title title="Material Arrival Within N Days"></app-title>
    <app-search-box></app-search-box>

    <ul class="materList">
        <li><i></i>
            <h3>JO</h3>
            <em>1317423890</em>
            <ul class="marterInfo">
                <li>
                    <p>13987323334</p>
                    <span>Fty Style</span></li>
                <li>
                    <p>PO3222233</p>
                    <span>Purchasing Date</span></li>
                <li>
                    <p>2017-12-25</p>
                    <span>Purchasing Date</span></li>
                <li>
                    <p>KL3033533</p>
                    <span>Material Code</span></li>
                <li>
                    <p>White</p>
                    <span>Color</span></li>
                <li>
                    <p>160CM</p>
                    <span>Size</span></li>
                <li>
                    <p>200 Meter</p>
                    <span>Purchasing qty</span></li>
                <li>
                    <p>2017-12-22</p>
                    <span>Expected Arrival Date</span></li>
                <li>
                    <p>2017-12-29</p>
                    <span>Required Date</span></li>
            </ul>
        </li>
        <li><i></i>
            <h3>JO</h3>
            <em>1317423890</em>
            <ul class="marterInfo">
                <li>
                    <p>13987323334</p>
                    <span>Fty Style</span></li>
                <li>
                    <p>PO3222233</p>
                    <span>Purchasing Date</span></li>
                <li>
                    <p>2017-12-25</p>
                    <span>Purchasing Date</span></li>
                <li>
                    <p>KL3033533</p>
                    <span>Material Code</span></li>
                <li>
                    <p>White</p>
                    <span>Color</span></li>
                <li>
                    <p>160CM</p>
                    <span>Size</span></li>
                <li>
                    <p>200 Meter</p>
                    <span>Purchasing qty</span></li>
                <li>
                    <p>2017-12-22</p>
                    <span>Expected Arrival Date</span></li>
                <li>
                    <p>2017-12-29</p>
                    <span>Required Date</span></li>
            </ul>
        </li>
    </ul>

</div>