<div class="container">
    <app-title [title]="title"></app-title>
    <app-search-box (outputValue)='updateList("search")'></app-search-box>
    <app-filter info="delay" (event)="updateList($event)"></app-filter>
    <div class="container_box">
        <div class="box" (DownUpdateDirective)="updateList('search')">
            <ul class="items">
                <li class="list" *ngFor="let item of datas">
                    <div class="list_title">
                        <div class="i">
                            <p></p>
                        </div>
                        <div class="jo_container">
                            <span *ngIf="language=='en'">JO</span>
                            <span *ngIf="language=='cn'">生产单号</span>
                            <span>{{item.Code}}</span>
                        </div>
                    </div>
                    <ul class="items">
                        <li class="row">
                            <div class="other">
                                <p>{{item.Pattern}}</p>
                                <span *ngIf="language=='en'">Fty Style</span>
                                <span *ngIf="language=='cn'">本厂款号 </span>
                            </div>
                            <div class="other">
                                <p>{{item.EventName}}</p>
                                <span *ngIf="language=='en'">Critical Event Name</span>
                                <span *ngIf="language=='cn'">事件名称</span>
                            </div>
                            <div class="other">
                                <p>{{item.Merchandiser}}</p>
                                <span *ngIf="language=='en'">Merchandiser</span>
                                <span *ngIf="language=='cn'">跟单员</span>
                            </div>
                        </li>
                        <li class="row">
                            <div class="other">
                                <p>{{item.PlanStart}}</p>
                                <span *ngIf="language=='en'">Daily Output</span>
                                <span *ngIf="language=='cn'">计划开始时间</span>
                            </div>
                            <div class="other">
                                <p>{{item.ExpectFinishDate}}</p>
                                <span *ngIf="language=='en'">Expected Completion Date</span>
                                <span *ngIf="language=='cn'">预计完成时间</span>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <app-load-more *ngIf="datas.length>0 && datas.length>3 || datas.length==0" [type]="type" (click)="updateList('add')"></app-load-more>
</div>