<div class="container">
    <app-title [title]="title"></app-title>
    <app-search-box (outputValue)='updateList("search")'></app-search-box>
    <app-filter info="delay" (event)="updateList($event)"></app-filter>

    <div class="container_box">
        <div class="box">
            <ul class="items">
                <li class="list" *ngFor="let item of datas">
                    <div class="list_title">
                        <div class="i">
                            <p></p>
                        </div>
                        <div class="jo_container">
                            <span *ngIf="language=='en'">JO</span>
                            <span *ngIf="language=='cn'">生产单号</span>
                            <span>{{item.PoCode}}</span>
                        </div>
                    </div>
                    <ul class="items">
                        <li class="row">
                            <div class="other">
                                <p>{{item.Pattern}}</p>
                                <span *ngIf="language=='en'">Fty Style</span>
                                <span *ngIf="language=='cn'">本厂款号 </span>
                            </div>
                            <div class="other">
                                <p>{{item.CustomerName}}</p>
                                <span *ngIf="language=='en'">Customer Name</span>
                                <span *ngIf="language=='cn'">客户名称</span>
                            </div>
                            <div class="other">
                                <p>{{item.CustomerStyleNO}}</p>
                                <span *ngIf="language=='en'">Cuse Style</span>
                                <span *ngIf="language=='cn'">客户款号</span>
                            </div>
                        </li>
                        <li class="row">
                            <div class="other">
                                <p>{{item.Amount}}</p>
                                <span *ngIf="language=='en'">Amount</span>
                                <span *ngIf="language=='cn'">数量</span>
                            </div>
                            <div class="other">
                            </div>
                            <div class="other item">
                                <p (click)="item.arrow=!item.arrow" [ngClass]="{'arrow_down':!item.arrow,'arrow_up':item.arrow}">更多</p>
                            </div>
                            <div class="box" style="display: flex;" *ngIf="item.arrow">
                                <div class="other">
                                    <p style="margin-top: 1rem;">{{item.LastProDate}}</p>
                                    <span *ngIf="language=='en'">Purchasing Date</span>
                                    <span *ngIf="language=='cn'">最迟生产日</span>
                                    <p style="margin-top: 1rem;">{{item.ProductTypeName}}</p>
                                    <span *ngIf="language=='en'">Material Code</span>
                                    <span *ngIf="language=='cn'">产品分类</span>
                                </div>
                                <div class="other" *ngFor="let other of item.JaProcessList">
                                    <p style="margin-top: 1rem;">{{other.Amount}}</p>
                                    <span>{{other.ProcessName}}</span>
                                    <p style="margin-top: 1rem;">{{other.TotalAmount}}</p>
                                    <span *ngIf="language=='en'">Cumulative {{other.ProcessName}}</span>
                                    <span *ngIf="language=='cn'">{{other.ProcessName}}累计</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <app-load-more *ngIf="datas.length>0 && datas.length>3 || datas.length==0" [type]="type" (click)="updateList('add')"></app-load-more>
</div>